/* Sidebar Styles - matching dashboard.html */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: transparent;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  width: 250px;
}

.sidebar.open {
  width: 250px;
}

.sidebar.closed {
  width: 250px;
}

.sidebar-toggle {
  display: none;
}

.toggle-icon {
  display: none;
}

.sidebar-nav {
  flex: 1;
  padding: 0;
  overflow-y: auto;
  width: 100%;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
  margin-top: 184px;
}

.sidebar-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-nav-list li {
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 9px 30px;
  text-align: left;
  cursor: pointer;
  color: #222222;
  background-color: #dddddd;
  width: 250px;
  min-width: 250px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.nav-item:focus {
  outline: 0;
}

.nav-item:hover {
  background-color: #d0d0d0;
  color: #222222;
}

.nav-item.active {
  background-color: #C8C8C8;
  color: #222222;
  font-weight: 600;
}

.nav-item.active:hover {
  background-color: #C8C8C8;
}

.nav-item div {
  display: block;
}

.nav-icon {
  display: none;
}

.nav-text {
  display: none;
}


/* Mobile responsiveness */
@media (max-width: 479px) {
  .nav-item {
    display: block;
  }
}

